<!-- <p>teams works!</p> -->
<section class="team-section  mt-5 ">
    <div class="container text-center">
        <h2>Meet OUR</h2>
        <h1 class="font-weight-bold">TEAM MEMBERS</h1>
        <div class="row">
          <div class="col-md-4 mt-4">
            <img class="rounded-circle" src="../images/teams/bro.jpeg" alt="Bobby Lawson" width="150" height="150">
            <h5 class="mt-3">Bobby Lawson</h5>
            <p class="text-light">Cryptocurrency Analyst</p>
          </div>
          <div class="col-md-4 mt-4">
            <img class="rounded-circle" src="../images/teams/girl.jpeg" alt="Sam Schwartz" width="150" height="150">
            <h5 class="mt-3">Sam Schwartz</h5>
            <p class="text-light">Cryptocurrency Developer</p>
          </div>
          <div class="col-md-4 mt-4">
            <img class="rounded-circle" src="../images/teams/man.jpeg" alt="Ronnie Patton" width="150" height="150">
            <h5 class="mt-3">Ronnie Patton</h5>
            <p class="text-light">Cryptocurrency Mining Lead</p>
          </div>
        </div>
    </div>
</section>



