<!-- <p>risk works!</p> -->
<div class="crypto-section container-fluid py-5">
    <div class="row align-items-center">
      <!-- Bitcoin Image -->
      <div class="col-md-5 text-center">
        <img src="../images/teams/bro.jpeg" alt="Bitcoin" class="img-fluid bitcoin-img">
      </div>
  
      <!-- Speech Bubble with Text -->
      <div class="col-md-5 position-relative">
        <div class="speech-bubble">
          <h3>RISK IS THE SYNONYM FOR INNOVATION</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
        </div>
      </div>
  
      <!-- Businessman Image -->
      <div class="col-md-2 text-center">
        <img src="../images/teams/bro.jpeg" alt="Businessman" class="img-fluid businessman-img">
      </div>
    </div>
  </div>
  