<!-- About Section -->
<section class="about py-5 bg-light">
    <div class="container">
      <div class="section-title text-center mb-4">
        <h2>About RukkyExchange</h2>
      </div>
      <div class="row align-items-center">
        <div class="col-lg-6">
          <img src="../images/hero-images/herrr2.jpeg" alt="About RukkyExchange">
        </div>
        <div class="col-lg-6">
          <p>
            At RukkyExchange, we provide a seamless experience for buying, selling, and investing in cryptocurrencies. Our platform is designed to ensure security, speed, and transparency, making trading effortless for both beginners and experienced traders.
          </p>
          <p>
            Whether you're looking to invest in crypto or exchange your assets with ease, RukkyExchange is your go-to platform.
          </p>
          <p>Your trusted platform for secure and reliable cryptocurrency trading. Your trusted platform for secure and reliable cryptocurrency trading.</p>
          <a href="" class="btn  btn-color mt-3">Learn More</a>
        </div>
      </div>
    </div>
  </section>
  
