<!-- <p>footer works!</p> -->
<footer class="footer-section mt-5">
    <div class="container">
      <div class="row">
        <!-- Logo & Description -->
        <div class="col-md-4">
          <h3 class="logo"><span class="highlight">Rukky</span>Exchange®</h3>
          <p class="footer-text">
            Coin is a new method to deal with money. One of the most important inventions in the entire history of evolution from barter trading to the present.
          </p>
          <p class="footer-text">
            The dawn of a new world that is free, better, and more transparent without restriction!
          </p>
          <h5>Stay Connected</h5>
          <div class="social-icons">
            <i class="fab fa-facebook-f"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-linkedin-in"></i>
            <i class="fab fa-instagram"></i>
          </div>
        </div>
  
        <!-- Recent Posts -->
        <div class="col-md-4">
          <h5>Recent Posts</h5>
          <ul class="recent-posts">
            <li>
ng serve              <span class="bullet">●</span> Exchange rate of bitcoin <br>
              <small>January 17, 2018</small>
            </li>
            <li>
              <span class="bullet">●</span> Fluctuating fortunes of Bitcoin <br>
              <small>January 10, 2018</small>
            </li>
            <li>
              <span class="bullet">●</span> New world wide payment system <br>
              <small>June 18, 2015</small>
            </li>
            <li>
              <span class="bullet">●</span> Balance of payment affects Bitcoin? <br>
              <small>June 18, 2015</small>
            </li>
          </ul>
        </div>
  
        <!-- Quick Links -->
        <div class="col-md-4">
          <h5>Quick Links</h5>
          <ul class="quick-links">
            <li><a href="#">Home</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Projects</a></li>
            <li><a href="#">Careers</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>
      </div>
  
      <div class="footer-bottom text-center">
        <p>© 2018 BitCoin. All rights reserved.</p>
      </div>
    </div>
  </footer>
  
