<!-- <p>last-news works!</p> -->
<div class="container mt-5">
  <h2 class="text-center">BitCoin and CryptoCurrency</h2>
  <h1 class="text-center font-weight-bold">LATEST NEWS</h1>
  <div class="row ">
    <div class="col-md-4 mt-4">
      <div class="card">
        <img class="card-img-top" src="../images/hero-images/laptop 2.jpeg" alt="news image">
        <div class="card-body">
          <h5 class="card-title">Exchange rate of bitcoin</h5>
          <p class="text-muted">January 17, 2018 - <span>Ram</span></p>
          <p class="card-text">In: Exchange | Tags: foreign currency, rates</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 mt-4">
      <div class="card">
        <img class="card-img-top" src="../images/hero-images/laptop 1.jpeg" alt="news image">
        <div class="card-body">
          <h5 class="card-title">Fluctuating fortunes of Bitcoin</h5>
          <p class="text-muted">January 10, 2018 - <span>Ram</span></p>
          <p class="card-text">In: Finance, News | Tags: New Category, Test</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 mt-4">
      <div class="card">
        <img class="card-img-top" src="../images/hero-images/laptop 4.jpeg" alt="news image">
        <div class="card-body">
          <h5 class="card-title">New world wide payment system</h5>
          <p class="text-muted">June 18, 2015 - <span>Ram</span></p>
          <p class="card-text">In: Payments | Tags: Global, Crypto</p>
        </div>
      </div>
    </div>
  </div>
</div>
