/* You can add global styles to this file, and also import other style files */
:root {
  --custom-navbar-vid: #052b317c;
  --custom-navbarvid-link:#333;
  --custom-toggler-backgroud: #666161;
  --custom-offcanvasvid:#bc3333;
  --custom-offcanvasvid-a:#fff;
  --auth-buttonsvid-primary:#fff;
  --auth-buttonsvid-primary-color:#FF4F00;
  --auth-buttons-btn-outline-primary:#d61e1e;
  --auth-buttonsvid-hover: #d61e1e;
  --logovid: #666161;
  --herovid: #fff;
  --hero-contentvid-color: #fff;
  --search-bar-button: red;
  --nav-link-a: #fff;
  --listing-p: gray;
  }
