/* You can add global styles to this file, and also import other style files */
:root {

  --offcanvas-width: 270px;
  --topNavbarHeight: 56px !important;

  --button-bg-color:#f94ca4;
  --button-bg-color-hover:#d6649f;
  --signup2-container-left-section: #f5f5f5;
  --signup2-container-right-section: #fff;

  --login-container-left-section: #f5f5f5;
  --login-container-right-section: #fff;
  --login-container-form-container-color: #fff;
  --login-container-form-container-color-h2: #333;
  } 




