.stats-section{
    background: #0c0c26;
    color: white;
    padding: 60px 0;
}
.stats-section .icon{
    font-size: 50px;
    color: #fbc02d;
}

.stats-section h3{
    margin-top: 10px;
    font-size: 32px;
}

.stats-section p{
    font-size: 16px;
    color: #ccc;
}


