<!-- <p>innovation works!</p> -->

<section class="stats-section">
    <div class="container text-center">
        <h5>Innovations present an opportunity...</h5>
        <h3><strong>Not A THREAT!</strong></h3>
        <div class="row mt-5">
            <div class="col-md-3">
                <i class="fas fa-bitcoin icon"></i>
                <h3>458</h3>
                <p>Currency EXchanged</p>
            </div>
            <div class="col-md-3">
                <i class="fas fa-clock icon"></i>
                <h3>5B+</h3>
                <p>24-Hour Volume Record</p>
            </div>
            <div class="col-md-3">
                <i class="fas fa-globe icon"></i>
                <h3>34</h3>
                <p>Countries Supported</p>
              </div>

              <div class="col-md-3">
                <i class="fas fa-users icon"></i>
                <h3>10M+</h3>
                <p>Customers Served</p>
              </div>
        </div>
    </div>
</section>